.container {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 3em;
}

.container p {
  margin: 0;
  letter-spacing: -1px;
  font-weight: bold;
}

h1 {
  margin-block-start: 1.5em;
  border-bottom: #b4c5e4 solid 5px;
}

h1 .content {
  float: bottom;
  margin: 0 0 -5px 0;
  border-bottom: #090c9b solid 5px;
}