.footer {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: #3c3744;
  color: #fbfff1;
}

.footer .row {
  display: flex;
}

.footer .row p {
  margin: 0;
}

.footer .row .phone {
  margin-left: 10px;
}