.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4c5e4;
}

.header button {
  font-size: 16px;
  padding: 10px;
  margin: 0 3px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header button:hover {
  padding-bottom: 7px;
  border-bottom: #3d52d5 solid 3px;
}
.header button.selected {
  cursor: default;
  padding-bottom: 7px;
  border-bottom: #090c9b solid 3px;
}